<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key ="williamhillurl" value="https://www.williamhill.com.au/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EventFiringDriver" value="N" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="browsername" value="firefox"   xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>